* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #1173d4;
  --primary-dark: #0a3d66;
  --primary-hover: #0d5ba8;
  --primary-light: #09f;
  --background: #0F1922;
  --text-primary: #ffffff;
  --text-secondary: #cbd5e1;
  --text-muted: #94a3b8;
  --border: rgba(255, 255, 255, 0.1);
  --card-bg: #242D3A;
  --shadow: rgba(0, 0, 0, 0.3);
  --input-bg: #1e293b;
  --hsla-example: hsla(210, 100%, 56%, 1);
}

body {
  font-family: sans-serif;
  background-color: var(--background);
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    margin: 1rem;

    h1 {
        margin-left: 1rem;
        font-size: 25px;
    }

    nav {
        display: flex;
        margin-left: 2rem;
        gap: 1rem;

        a {
            color: var(--text-secondary);
            text-decoration: none;
        }
    }

    section {
        display: flex;
        margin-left: auto;
        gap: 1rem;

        a {
            padding: .7rem;
            border-radius: 5px;
            font-weight: 600;
            text-decoration: none;
        }

        .publish {
            color: var(--primary-light);
            background-color: var(--primary-dark);
        }

        .login {
            color: var(--text-primary);
            background-color: var(--border);
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    section {

        img {
            position: absolute;
            object-fit: cover;
            width: 100%;
            z-index: -1;
            left: 0;
            right: 0;
            mask-image: linear-gradient(to bottom, rgba(16, 25, 34, 1) 5%, rgba(16, 25, 34, 0) 80%);
        }

        h1 {
            font-size: 40px;
            color: var();
        }

        p {
            font-size: 20px;
            color: var();
        }
    }

    .buscador {
        display: flex;
        width: 60%;
        text-align: center;
        justify-content: center;
        background-color: var(--input-bg);
    }
}